<div class="page">
	<header>
		<div class="container">
			<div class="float-left">
				<button mat-icon-button color="accent" routerLink="/">
					<mat-icon>chevron_left</mat-icon>
				</button>
			</div>
			<h2 class="text-center">Profile Details</h2>
		</div>
	</header>
	<div class="container">
		<form [formGroup]="profileForm" novalidate>
			<div class="row">
				<div class="col-sm-6 col-lg-4">
					<mat-form-field class="full-width extra-padding">
						<input matInput placeholder="Name" [formControlName]="'name'" required>
						<mat-error *ngIf="profileForm.get('name').hasError('required')">Name is required</mat-error>
					</mat-form-field>
				</div>
				<div class="col-sm-6 col-lg-4">
					<mat-form-field class="full-width extra-padding">
						<input matInput placeholder="Email" [formControlName]="'email'" required>
						<mat-error *ngIf="profileForm.get('email').hasError('required')">Email is required</mat-error>
						<mat-error *ngIf="!profileForm.get('email').hasError('required') && profileForm.get('email').hasError('email')">Please provide valid email address</mat-error>
					</mat-form-field>
				</div>
				<div class="col-sm-12 col-lg-4">
					<mat-form-field class="full-width extra-padding">
						<input matInput placeholder="Date of Birth" [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open();" [formControlName]="'dateOfBirth'" required readonly>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker disabled="false"></mat-datepicker>
						<mat-error *ngIf="profileForm.get('dateOfBirth').hasError('required')">Date of Birth is required</mat-error>
					</mat-form-field>
				</div>
				<div class="col-12">
					<mat-form-field [floatLabel]="'always'" class="full-width">
						<mat-label>Location (Suburb - Click map to set)</mat-label>
						<input matInput placeholder="Click map to Set" [formControlName]="'location'" required readonly>
						<mat-error *ngIf="profileForm.get('location').hasError('required')">Click map to set a location</mat-error>
					</mat-form-field>

					<agm-map
						[latitude]="lat"
						[longitude]="lng"
						[zoom]="zoom"
						[disableDefaultUI]="false"
						[zoomControl]="true"
						(mapClick)="mapClicked($event)">

						<agm-marker
							[latitude]="marker.lat"
							[longitude]="marker.lng"
							[markerDraggable]="false">
							<agm-info-window>
								<strong>{{marker.label}}</strong>
							</agm-info-window>
						</agm-marker>

					</agm-map>
				</div>
			</div>
		</form>
		<div class="action-panel float-right">
			<button type="submit" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!profileForm.valid">
				<span *ngIf="!profileId">Create</span>
				<span *ngIf="profileId">Update</span>
			</button>
			<button type="submit" (click)="onCancel()" mat-raised-button color="accent">
				<span *ngIf="!profileId">Cancel</span>
				<span *ngIf="profileId">Delete</span>
			</button>
		</div>
	</div>
</div>

