/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	background-color: #efefef;
}

button:focus {outline:0;}

div.page {
	header {
		display: flex;
		justify-content: center;
		> * {
			padding: 0;
			margin: 0;
		}
		padding: 10px;
		background-color: #434343;
		color: #cfcfcf;
		margin-bottom: 30px;
	}

	.action-panel {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.left-boundary-margin {
	margin-left: 15px;
}

table {
	&.table {
		td {
			&.no-padding {
				padding: 0;
			}
		}
	}
}
