<div class="page">
	<header>
		<h2 class="text-center">People</h2>
	</header>
	<div class="container">
		<div class="toolbar clearfix">
			<button class="float-right" mat-raised-button color="accent" [routerLink]="'/profile/new'">
				<mat-icon>add</mat-icon> Create New
			</button>
		</div>
		<div class="profiles-container">
			<div class="no-profiles-found" *ngIf="profiles.length == 0">
				<h3>No profiles found...</h3>
			</div>
			<div class="profiles" *ngIf="profiles.length > 0">
				<mat-card class="example-card" *ngFor="let p of profiles">
					<mat-card-header>
						<h5>{{p.name}}</h5>
						<div>{{p.email}}</div>
					</mat-card-header>
					<agm-map
						[latitude]="p.geoLocation.lat"
						[longitude]="p.geoLocation.lng"
						[zoom]="15"
						[disableDefaultUI]="false"
						[zoomControl]="false">

						<agm-marker
							[latitude]="p.geoLocation.lat"
							[longitude]="p.geoLocation.lng"
							[markerDraggable]="false">
							<agm-info-window>
								<strong>{{p.location}}</strong>
							</agm-info-window>
						</agm-marker>

					</agm-map>
					<mat-card-content>
						<div>
							<label class="title">Date of Birth : </label><span class="value"> {{p.dateOfBirth | moment: 'DD/MM/YYYY'}}</span>
						</div>
						<div>
							<label class="title">Location : </label><span class="value"> {{p.location}}</span>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button (click)="editProfile(p)">
							<mat-icon>edit_mode</mat-icon> Edit
						</button>
						<button mat-button (click)="deleteProfile(p)">
							<mat-icon>delete</mat-icon> Delete
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
	</div>
</div>
