:host {
	.toolbar {
		margin-bottom: 30px;
	}

	h5 {
		text-decoration: underline;
	}

	label.title {
		font-weight: bold;
	}

	.profiles {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
	}

	mat-card {
		width: 500px;
		margin: 15px;
		padding: 0 !important;

		mat-card-header {
			padding: 10px;
			display: block;
			z-index: 10;
		}

		mat-card-content {
			padding: 10px;
			margin-bottom: 0;
			z-index: 10;
		}

		mat-card-actions {
			padding: 10px 25px 25px;
		}

		agm-map {
			height: 300px;
			z-index: 9;
		}
	}
}
